/*Modifies the table*/
table {
    /*border: 1px solid transparent;*/
    width: 100%;
    border-collapse: collapse;

}

/*Modifies the table header, table element and table rows*/
th, td, tr {
    height: 70px;
    text-align: center;
   /* border-bottom: 1px solid #ddd;*/
}

/*Modifies ONLY table header*/
th {
    background-color: rgb(0, 103, 71);
    color: white;
    font-size: 2em;
    /*border-bottom: 1px solid #ddd;*/
}

/*Modifies ONLY table rows*/
tr{
    background-color: rgb(237,235,209);
}
tr:hover{
    background-color: rgb(255,255,255);
}

/*This is for the background image*/
body {
    background-repeat: no-repeat;
    background-color: gray;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
  }
